.tb-megamenu.style-black {
  background-color: #333;
  background-image: -moz-linear-gradient(top,#333,#444);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#333),to(#444));
  background-image: -webkit-linear-gradient(top,#333,#444);
  background-image: -o-linear-gradient(top,#333,#444);
  background-image: linear-gradient(to bottom,#333,#444);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff444444', GradientType=0);
  color: #fff;
}
.tb-megamenu.style-black .nav > li > a {
  /*background: url(../../images/line.png) no-repeat 100% 0;*/
  border-right: none;
  color: #fff;
  font-weight: bold;
}
.tb-megamenu.style-black .nav > li > a:focus,
.tb-megamenu.style-black .nav > li > a:hover {
  background-color: #222;
  color: #7bb9e0;
}
.tb-megamenu.style-black .nav > .active > a,
.tb-megamenu.style-black .nav > .active > a:hover,
.tb-megamenu.style-black .nav > .active > a:focus {
  background-color: inherit;
  color: #7bb9e0;
}
.tb-megamenu.style-black .nav-collapse .nav > li.active > a:hover,
.tb-megamenu.style-black .nav-collapse .nav > li.active > a:focus {
  background-color: inherit;
  color: #7bb9e0;
}
.tb-megamenu.style-black .row-fluid + .row-fluid {
  border-color: #333;
}
.tb-megamenu.style-black .dropdown .caret {
  margin-left: 5px;
}
.tb-megamenu.style-black .dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.tb-megamenu.style-black .dropdown-menu li > a {
  border-top: 1px solid #444;
  padding: 5px 20px;
  text-shadow: none;
}
.tb-megamenu.style-black .dropdown-menu li:first-child > a {
  border-top: 0;
}
.tb-megamenu.style-black .navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.tb-megamenu.style-black .navbar .nav > li > .dropdown-menu:after {
  display: none;
}
.tb-megamenu.style-black .dropdown-menu .disabled > a,
.tb-megamenu.style-black .dropdown-menu .disabled > a:hover {
  color: #999;
}
.tb-megamenu.style-black .dropdown-menu .disabled > a:hover {
  background-color: transparent;
}
.tb-megamenu.style-black .nav li.dropdown.open > .dropdown-toggle {
  background-color: #666;
  color: #aaa;
}
.tb-megamenu.style-black .nav li.dropdown.active > .dropdown-toggle {
  background-color: inherit;
  color: #7bb9e0;
}
.tb-megamenu.style-black .nav > li.dropdown.open.active > a:hover,
.tb-megamenu.style-black .nav > li.dropdown.open.active > a:focus {
  background-color: #222;
  color: #7bb9e0;
}
.tb-megamenu.style-black .dropdown-menu {
  background-color: #222;
  border: none;
}
.tb-megamenu.style-black .dropdown-menu li > a {
  color: #fff;
  border-top: 1px solid #333;
}
.tb-megamenu.style-black .dropdown-menu li > a:hover,
.tb-megamenu.style-black .dropdown-menu li > a:focus,
.tb-megamenu.style-black .dropdown-submenu:hover > a {
  background: none;
  color: #7bb9e0;
}
.tb-megamenu.style-black .nav li.dropdown.open > .dropdown-toggle,
.tb-megamenu.style-black .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: #222;
  color: #7bb9e0;
}
.tb-megamenu.style-black .mega-nav .mega-group > .mega-group-title,
.tb-megamenu.style-black .dropdown-menu .mega-nav .mega-group > .mega-group-title,
.tb-megamenu.style-black .dropdown-menu .active .mega-nav .mega-group > .mega-group-title {
  color: #ddd;
}
.tb-megamenu.style-black .tb-block {
  background: transparent;
  color: inherit;
}
.tb-megamenu.style-black .tb-block .block-inner {
  padding: 0;
}
.tb-megamenu.style-black .tb-block .block-title {
  background: inherit;
  color: #ddd;
}
.tb-megamenu.style-black .block-ct {
  background: inherit;
  color: inherit;
  padding: 0;
  *zoom: 1;
}
.tb-megamenu.style-black .block-ct:before,
.tb-megamenu.style-black .block-ct:after {
  display: table;
  content: "";
  line-height: 0;
}
.tb-megamenu.style-black .block-ct:after {
  clear: both;
}
.tb-megamenu.style-black .tb-block ul.unstyled,
.tb-megamenu.style-black .tb-block ol.unstyled,
.tb-megamenu.style-black .tb-block ul.nav,
.tb-megamenu.style-black .tb-block ol.nav {
  margin-left: 0;
}
.tb-megamenu.style-black .block_menu .nav {
  margin-bottom: 20px;
}
.tb-megamenu.style-black .block_menu .nav > li {
  border-top: 1px solid #444;
}
.tb-megamenu.style-black .block_menu .nav > li > a {
  padding: 5px;
}
.tb-megamenu.style-black .block_menu .nav > li:first-child {
  border-top: 0;
}
.tb-megamenu.style-black .block_menu .nav > li:first-child > a {
  padding-top: 0;
  border-top: 0;
}

@media (max-width: 979px) {
.tb-megamenu.style-black {
  background-image: none;
  background-color: inherit;
}

.tb-megamenu.style-black .nav-collapse,
.tb-megamenu.style-black .nav-collapse .dropdown-menu {
  background-color: #333;
}
.tb-megamenu.style-black .nav-collapse .nav > li > a,
.tb-megamenu.style-black .nav-collapse .dropdown-menu a {
  border-bottom-color: #444;
  border-top-color: #444;
  color: #eee;
}
.tb-megamenu.style-black .nav > li > a {
  color: #eee;
  border-right: 1px solid #444;
}
}

@media (max-width: 738px) {
  .tb-megamenu.style-black .nav-collapse .nav li a {
	 border-top-color: #444;
  }
  .tb-megamenu.style-black .nav-collapse .nav > li > a,
  .tb-megamenu.style-black .nav-collapse .dropdown-menu a {
    border-bottom: none;
    border-top-color: #444;
    color: #eee;
  }
  .tb-megamenu.style-black .row-fluid + .row-fluid {
	border-top-color: #444;
  }
}

.block-view-demo .views-field-field-image img {
  border: 1px solid #333;
}

.block-view-demo .item-list ul li {
  border-bottom: 1px solid #333;
}

.block-view-demo .views-field-title a:hover,
.block-view-demo .views-field-title a:focus {
  color: #7bb9e0;
}
