.form-item, .form-actions {
	margin: 0;
}
.config-tool {
	position: fixed;
    right: 0;
    top: 50%;
    z-index: 1000;
	opacity: 0.5;
	-webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
}
.config-tool:hover {
	opacity: 1;
}
.config-tool ul.tabs.primary {
	list-style: none;
	border: none;
}
.config-tool ul.tabs.primary li a {
    margin-right: 0;
    background: #fff;
	color: #000000;
    /*width: 70px;*/
	padding: 0 15px;
    text-align: center;
    display: block;
	height: 50px;
    line-height: 50px;
	-webkit-transition: all .5s ease .25s;
    transition: all .5s ease .25s;
	border: none;
}
.config-tool ul.tabs.primary li.active a,
.config-tool ul.tabs.primary li:hover a {
    background: #000000;
	color: #fff;
}
.product-over-add .commerce-add-to-cart .form-submit {
	background: #ffffff;
    color: #000000;
    width: 100%;
    height: 48px;
    font-size: 14px;
    padding: 0 45px;
    line-height: 44px;
	letter-spacing: 0.15em;
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
	font-weight: bold;
	border-radius: 0;
    border: 2px solid transparent;
	border-color: #ffffff;
    display: inline-block;
}
.product-over-add .commerce-add-to-cart .form-submit:hover {
	background: #000000;
    color: #FFFFFF;
    border-color: #000000;
}
.product-over-add .commerce-add-to-cart .form-item-quantity {
	display: none;
}
.product-details-info .commerce-add-to-cart .form-item-quantity label,
.product-attribute .commerce-add-to-cart .form-item-quantity label {
	display: none;
}
.product-details-info .commerce-add-to-cart .form-item-quantity,
.product-attribute .commerce-add-to-cart .form-item-quantity {
    float: left;
    width: 60px;
    margin-right: 30px;
}
.product-details-info .commerce-add-to-cart input[type=text],
.product-attribute .commerce-add-to-cart input[type=text] {
	height: 48px;
}
.product-details-info .commerce-add-to-cart .form-submit,
.product-attribute .commerce-add-to-cart .form-submit,
.product-attribute .form-submit,
.commerce-line-item-actions .form-submit,
.checkout-continue,
.top-navigation-submenu #user-login-form .form-submit {
	background: #ffffff;
    color: #000000;
    width: 100%;
    height: 48px;
    font-size: 14px;
    border: 2px solid #000000;
    padding: 0 45px;
    line-height: 44px;
	letter-spacing: 0.15em;
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
	font-weight: bold;
	border-radius: 0;
    display: inline-block;
	max-width: 200px;
	float: left;
}
.checkout-continue {
	font-size: 12px;
	padding: 0 25px;
	max-width: 250px;
	margin-right: 10px;
}
.commerce-line-item-actions .form-submit {
	float: right;
	margin-left: 10px;
}
.product-details-info .commerce-add-to-cart .form-submit:hover,
.product-attribute .commerce-add-to-cart .form-submit:hover,
.product-attribute .form-submit:hover,
.commerce-line-item-actions .form-submit:hover,
.checkout-continue:hover,
.top-navigation-submenu #user-login-form .form-submit:hover {
	background: #000000;
    color: #FFFFFF;
    border-color: #000000;
}
.product-details-info .commerce-add-to-cart {
	float: left;
	margin-bottom: 45px;
}
.product-details-info .product-short {
	clear: left;
}
.product-attribute .commerce-add-to-cart {
	float: left;
	margin-right: 30px;
	margin-top: 12px;
}
.product-attribute .product-price,
.product-attribute .product-description {
	font-size: 16px;
}
.awe-section.creating .single-image {
	overflow: visible;
}
.awe-section.creating .single-image img {
	-webkit-transform: scale(1);
    -khtml-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.awe-section.creating {
	overflow: scroll;
}
.page-awe-content-template-layout-block .awe-section.creating:hover > .custom-section {
	left: 0;
}
.awe-section.creating.allow-overflow {
	overflow: visible;
}
.awe-section.creating.allow-overflow > .container > .row > .awe-col {
	background-color: #fff;
}
.background-contain {
	background-size: contain !important;
}
.products.products-gallery .product .product-content {
	padding-top: 20px;
}
.box-color > .row {
	padding: 0 15px;
}
.search-form {
	position: relative;
}
.pager {
	clear: left;
}
.pagination li {
    border: 2px solid transparent;
    color: #666666;
    display: inline-block;
    font-size: 14px;
    line-height: 36px;
    margin: 0 2px;
    padding: 0;
    width: 40px;
    height: 40px;
}
.pagination>li>a, .pagination>li>span {
	float: none;
	border: none;
	border-radius: 0;
	color: #666666;
}
.pager .pagination li a:hover {
	background: none;
}
.pagination .current-page,
.pagination li:hover {
    border-color: #f0f0f0;
}
.widget-product-list {
    border: none;
	padding: 0;
	list-style: none;
}
.widget-product-list li {
    text-align: left;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 20px;
}
.widget-product-list li a {
    display: block;
}
.widget-product-list li img {
    width: 60px;
    float: right;
    height: auto;
}
.widget-product-list li p {
    line-height: 25px;
    margin-bottom: 20px;
}
.widget-product-list li .product-title {
	font-weight: 700;
}
.product-main, .woocommerce-tabs,
.entry-content,
.breadcrumb {
	font-size: 16px;
}
.breadcrumb {
	line-height: 16px;
}
.product-short {
	clear: left;
}
#tab-description_tab {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}
.comment-form-subject,
.comment-form-author,
.comment-form-comment,
.comment-form-title {
	margin-bottom: 30px;
}
.comment-respond .comment-form textarea, 
.comment-respond .comment-form input[type=text] {
	background: none;
}
textarea,
.comment-respond .comment-form textarea:focus {
	box-shadow: none;
}
#review_form .form-submit input {
	padding: 0 45px;
	font-size: 14px;
	height: 48px;
}
#comments {
	margin-top: 0;
}
.comment-list {
	padding: 0;
	list-style: none;
}
.contact-info {
	color: #999999;
	width: auto;
}
.contact-info .social-nav li a {
    color: #999999;
}
.contact-info .social-nav li a:hover {
    color: #000;
}
#search-block-form,
#search-block-form--2 {
	position: relative;
}
.entry-thumb figure img {
	width: 100%;
}
.comment-form label {
	display: none;
}
.single-post .comment-item {
	padding: 25px;
    background: #f6f6f6;
    margin-bottom: 30px;
    min-height: 120px;
}
.single-post .comment-item .comment-content {
    margin-left: 0px;
	font-size: 16px;
}
.single-post .comments-area .comment-list {
	margin-bottom: 0;
}
.single-post .comments-area .indented {
	margin-left: 0;
	padding-left: 25px;
	position: relative;
	overflow: hidden;
}
.single-post .comments-area .indented:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #e1e1e1;
}
.single-post .comments-area .indented > .comment-list > li:before {
    background: #e1e1e1;
    content: "";
    height: 1px;
    left: 0px;
    position: absolute;
    top: 25px;
    width: 12px;
}
.single-post .comment-respond {
    margin-top: 30px;
}
.shop_table .product-attribute .commerce-add-to-cart {
	float: none;
	margin: 0;
}
.shop_table .product-attribute .commerce-add-to-cart {
	float: none;
	margin: 0;
}
.shop_table .product-attribute .commerce-add-to-cart .form-submit {
	float: none;
}
tr.even, tr.odd {
	background: none;
}
.line-item-total {
	font-size: 18px;
}
.views-table {
	width: 100%;
	margin-bottom: 20px;
}
.checkout-buttons {
	margin-top: 20px;
}
.checkout-review {
	width: 100%;
}

/*------------- Accordions --------------*/
.awe-accordion > .group > .ui-accordion-header {
    padding: 10px 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Karla", arial, sans-serif;
    letter-spacing: 0;
    margin: 0 0 20px;
    cursor: pointer;
    position: relative;
	color: #000;
}
.awe-accordion > .group > .ui-accordion-header .sign-toggle-accr i {
	color: #000;
}
.awe-accordion > .group > .ui-accordion-header {
    background: #f6f6f6;
}
.awe-accordion > .group > .ui-accordion-header.ui-state-active {
    background: #000;
    color: #fff;
}
.awe-accordion > .group > .ui-accordion-header:hover, 
.awe-accordion > .group > .ui-accordion-header.ui-state-hover {
	background: #f6f6f6;
	color: #000;
}
.awe-accordion > .group > .ui-accordion-header.ui-state-active:hover {
    background: #000;
	color: #fff;
}
.awe-accordion > .group > .ui-accordion-header.ui-state-active .sign-toggle-accr i {
	color: #fff;
}
.awe-accordion > .group > .ui-accordion-header .sign-toggle-accr {
	top: 10px;
}
.awe-accordion > .group > .ui-accordion-content {
	font-size: 16px;
	line-height: 30px;
    color: #666666;
	padding-top: 0;
}
.awe-accordion.style-2 > .group > .ui-accordion-header {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
	background: none;
	color: #333946;
}
.awe-accordion.style-2 > .group > .ui-accordion-header.ui-state-active .sign-toggle-accr i {
	color: #333946;
}
.awe-accordion.style-2 > .group > .ui-accordion-header.ui-state-active:hover {
	color: #333946;
	background: none;
}
.awe-accordion.style-3 > .group > .ui-accordion-header.ui-state-active,
.awe-accordion.style-3 > .group > .ui-accordion-header.ui-state-active:hover {
    background-color: #a7c8eb;
    background-image: -webkit-gradient(linear, left top, right top, from(#a7c8eb), to(#bce5d3));
    background-image: -webkit-linear-gradient(left, #a7c8eb, #bce5d3);
    background-image: -moz-linear-gradient(left, #a7c8eb, #bce5d3);
    background-image: -ms-linear-gradient(left, #a7c8eb, #bce5d3);
    background-image: -o-linear-gradient(left, #a7c8eb, #bce5d3);
    background-image: linear-gradient(left, #a7c8eb, #bce5d3);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#a7c8eb', endColorStr='#bce5d3', gradientType='1');
    color: #fff;
}
.awe-accordion.style-4 > .group > .ui-accordion-header {
    background: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -khtml-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.awe-accordion.style-4 > .group > .ui-accordion-header.ui-state-active,
.awe-accordion.style-4 > .group > .ui-accordion-header.ui-state-active .sign-toggle-accr i {
    color: #000;
}
.awe-accordion.style-4 > .group > .ui-accordion-header.ui-state-active:hover {
    background: #fff;
	color: #000;
}

/*---------------------- Tabs --------------------*/
.awe-tabs > .select-tab {
    padding: 0;
    list-style: none;
    margin: 0 0 30px;
	border: none;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -khtml-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
.awe-tabs > .select-tab > .ui-tabs-nav > li {
    float: left;
    margin-right: 15px;
}
.awe-tabs > .select-tab > .ui-tabs-nav > li > .ui-tabs-anchor {
    display: inline-block;
    padding: 18px 30px 43px;
    line-height: 28px;
    font-size: 14px;
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
	background: none;
	border: none;
	border-radius: 0;
	font-family: "Karla", arial, sans-serif;
}
.awe-tabs > .select-tab > .ui-tabs-nav > li.ui-tabs-active > .ui-tabs-anchor,
.awe-tabs > .select-tab > .ui-tabs-nav > li:hover > .ui-tabs-anchor {
	background: none;
	color: #000;
}
.awe-tabs > .md-content-tab {
    background: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -khtml-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    padding: 30px;
}
.awe-tabs > .md-content-tab .ui-widget-content {
	color: #666666;
	padding: 0;
}
.region-content > .widget-container {
	margin-bottom: 0;
	padding-bottom: 0;
}
.alert.messages:after {
	display: none;
}
#main-navigation {
	font-size: 16px;
}
.navbar-container #nav #main-navigation > li .active {
	color: #000000;
}
#search-fullwidth #search-block-form .form-actions {
	position: absolute;
	top: 4px;
	right: 0;
}
#search-fullwidth #search-block-form .form-actions:before {
	font-family: 'FontAwesome';
	line-height: 26px;
	font-size: 14px;
	color: #666666;
	content: "\f002";
	position: absolute;
    right: 14px;
    top: 7px;
	z-index: -1;
}
#search-fullwidth #search-block-form .form-actions .form-submit {
	background: none;
    border: none;
    font-size: 0;
    width: 40px;
}
.cart-empty-block {
	padding-left: 20px;
}
.bag-products .bag-product .remove .form-submit {
	background: none;
	border: none;
	font-size: 0;
	text-indent: -9999px;
	width: 10px;
	height: 12px;
}
.bag-products .bag-product .remove:before {
	position: absolute;
    right: 2px;
    top: 3px;
    z-index: -1;
}
.bag-products .bag-product .flag {
	position: absolute;
    right: 2px;
    top: 14px;
}
.top-navigation-submenu #user-login-form {
	padding: 0 15px 20px;
	float: left;
	width: 100%;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#footer-area.nopadding.awecontent-section {
	padding: 0;
}
#footer .form-item-mail label {
	display: none;
}
#footer .newsletters-form .form-submit {
	top: 45%;
}
.bg-color {
	padding: 25px 0;
    background: #f6f6f6;
}
.bg-color .widget-container.newsletters-form,
#footer-top .widget-container {
	margin-bottom: 0;
}
.mb-0 {
	margin-bottom: 0;
}
.pb-0 {
	padding-bottom: 0;
}